body {
  background: var(--color-bg);
  font-family: var(--font-body);
  font-weight: var(--font-weight-regular);
  color: var(--color-text);
}
/* SECTION Header  */
header {
  background: var(--color-bg-secondary);
  padding: 0px max(calc(50% - 720px), 0px);
}

.header-section {
  width: 100%;
  height: 80px;

  padding: 0 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ANCHOR Header Logo */

.header-logo {
  height: 100%;
  font-size: 64px;

  display: flex;
  align-items: center;
}

.header-logo img {
  height: 85%;
}
/* ANCHOR Navigation */
.nav-links {
  font-weight: var(--font-weight-medium);
  display: flex;
  align-items: center;
  gap: 24px;
  transition: all 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-text);
  transition: all 0.3s ease;
}

.nav-links a:hover {
  cursor: pointer;
  color: var(--color-primary);
  border-bottom: 3px solid var(--color-primary);
  padding-bottom: 10px;
}
/* ANCHIR Suchen Pofil Warenkorb */
.search-profile-basket {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-profile-basket svg {
  height: 24px;
  width: 24px;
  transition: all 0.3s ease;
}
.search-profile-basket svg:hover {
  height: 24px;
  height: 24px;
  cursor: pointer;
  color: var(--color-primary);
}
/* SECTION Main  */
main {
  padding: 0px max(calc(50% - 720px), 0px);
}

.hero-section {
  width: 100%;
  min-height: 35vh;
  background-image: url(./assets/images/bytebites-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bytebites-logo {
  width: clamp(150px, 5vw, 100px);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bytebites-logo img {
  width: 100%;
  transform: translateY(-5px) translateX(1px);
}
.bytebites-logo-background {
  height: 100%;
  width: 100%;

  background: var(--color-bg);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
}
/* SECTION Footer  */
footer {
  padding: 0px max(calc(50% - 720px), 0px);

  height: 100px;
  width: 100%;
}

.hero-title {
  font-weight: var(--font-weight-extrabold);
}

h1 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-hero);
}

h2,
h3 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-2xl);
}

span {
  color: var(--color-primary);
}

svg {
  color: var(--color-bg-card-soft);
}
