body {
  background: var(--color-bg);
}

header {
  background: var(--color-text-muted);

  height: 100px;
  width: 100%;

  padding: 0px max(calc(50% - 720px), 0px);
}

main {
  background: var(--color-text-muted);
  padding: 0px max(calc(50% - 720px), 0px);
}

footer {
  padding: 0px max(calc(50% - 720px), 0px);

  height: 100px;
  width: 100%;
}
